<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.genady.rmi.rmiServer">
<stringAttribute key="net.genady.rmi.afterCommand" value=""/>
<stringAttribute key="net.genady.rmi.beforeCommand" value=""/>
<booleanAttribute key="net.genady.rmi.beforeWaitCompletion" value="false"/>
<booleanAttribute key="net.genady.rmi.launchInspectLater" value="false"/>
<mapAttribute key="net.genady.rmi.launchProp">
<mapEntry key="java.security.policy" value="${workspace_loc:/P2_Ejercicio1/src/security.policy}"/>
</mapAttribute>
<intAttribute key="net.genady.rmi.launchRegistryAction" value="0"/>
<booleanAttribute key="net.genady.rmi.logRMIEvents" value="false"/>
<booleanAttribute key="net.genady.rmi.logRMIEvents.noSerialization" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/P2_Ejercicio1/src/Chat_v2/Server.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Chat_v2.Server"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="P2_Ejercicio1"/>
</launchConfiguration>
